# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!example.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.log
.terraform.lock.hcl

# Sensitive
*.pem
*.key
.env
secrets.auto.tfvars

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Plans
*.plan
tfplan

# Backups
*.backup
